/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import "sidebar";
@import "contact";
@import "experience";
@import "index";
@import "projects";

@import "header";
@import "contact-info";

html {
  background-color: #e9fae640;
}

.main {
  height: auto;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  background-color: #e9fae640;
}

.mobile-container {
  padding-top: 60px;
  background-color: #e9fae640;

  .item-card {
    width: auto;
  }

  .contact-info {
    max-width: 90%;
  }

  .contact-item a {
    font-size: 18px;
  }

  .message-card {
    max-width: 80%;
  }
}

.mobile-sidebar {
  .sidebar {
    top: 40px;
    left: -100%;
    height: calc(100% - 40px);
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 1000;

    .sidebar-title {
      display: none;
    }
  }

  &.open {
    .sidebar {
      left: 0;
    }
  }
}
