.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item i {
  margin-right: 15px;
  font-size: 36px;
}

.contact-item a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.contact-item a:hover {
  color: #007bff;
}
