.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(247 141 43);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar-title {
  padding: 20px;
}

.sidebar-nav {
  flex-grow: 1;
  padding: 0 20px;
  overflow-y: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.sidebar-link i {
  margin-right: 10px;
}

.sidebar-link.active {
  font-weight: bold;
}

.sidebar-link:hover {
  background-color: rgb(255 255 255 / 10%);
  border-radius: 0.375rem;
  padding-left: 15px;
}

.built-with {
  margin: auto;
  padding-bottom: 20px;
}
