<div class="contact-item">
  <i class="bi bi-phone"></i>
  <a href="tel:0033676939082">0033676939082</a>
</div>
<div class="contact-item">
  <i class="bi bi-envelope"></i>
  <a href="mailto:daniel.lesner@icloud.com">daniel.lesner@icloud.com</a>
</div>
<div class="contact-item">
  <i class="bi bi-linkedin"></i>
  <a
    href="http://www.linkedin.com/in/daniel-lesner"
    target="_blank"
    rel="noopener noreferrer"
  >linkedin.com/in/daniel-lesner</a>
</div>
<div class="contact-item">
  <i class="bi bi-github"></i>
  <a
    href="http://www.github.com/daniel-lesner"
    target="_blank"
    rel="noopener noreferrer"
  >github.com/daniel-lesner</a>
</div>