<div class="header">
  <button class="header-burger-menu" {{on "click" @toggleSidebar}}>
    <span class={{if @isSidebarOpen "line line1 open" "line line1"}}></span>
    <span class={{if @isSidebarOpen "line line2 open" "line line2"}}></span>
    <span class={{if @isSidebarOpen "line line3 open" "line line3"}}></span>
  </button>

  <span class="header-title">Daniel Lesner</span>
</div>