<div class="container content-container">
  <h1 class="main-title card-title">Full-stack Web Developer Proficient in
    Ruby-on-Rails, Ember.js and React.js
  </h1>

  <div class="item-card">
    <div class="card-body">
      <h1 class="card-title">Skills</h1>
      <ul class="card-skills">
        <li>Strong JavaScript and Ruby skills</li>
        <li>Vast knowledge of web markup languages, including HTML5 and CSS3</li>
        <li>Possess considerable knowledge in working with web-frameworks such
          as Ruby on Rails or Next.js</li>
        <li>
          Deep understanding of programming concepts (objects and classes, data
          structures) and also of web architecture (client-server interaction,
          packets, requests, HTTP, TCP/IP, DNS, API, microservices)
        </li>
        <li>
          Capable of designing and creating websites, as well as taking care of
          the hosting and deployment processes
        </li>
        <li>
          Experience in utilising Git and collaborating with teams using version
          control
        </li>
        <li>
          Other programming languages: Solidity, Python and R
        </li>
      </ul>
    </div>
  </div>

  <div class="item-card">
    <div class="card-body">
      <h1 class="card-title">Languages</h1>
      <ul class="card-languages">
        <li>Romanian (Native)</li>
        <li>English (Fluent)</li>
        <li>French (B1 Exam Certification)</li>
      </ul>
    </div>
  </div>
</div>