{{page-title "Not found"}}

<div class="container message-container">
  <div class="card message-card text-center">
    <div class="card-body">
      <h3 class="card-text">There is nothing here!</h3>
      <LinkTo @route="index" class="btn btn-primary">Home</LinkTo>
    </div>
  </div>
</div>