<div class="container message-container">
  <div class="card message-card text-center">
    <div class="card-body">
      <h5 class="card-title">Page Under Construction</h5>
      <p class="card-text">Meanwhile, you can check my projects on my GitHub
        page</p>
      <a
        href="http://www.github.com/daniel-lesner"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary"
      >GitHub Page</a>
    </div>
  </div>
</div>